body {
    margin: 0;
    background: url("../JS_ZERO/IMG/pattern.png");
    font-family: Arial;
    line-height: 1.5;
}

.card {
    width: 300px;
    margin: 30px auto;
    background-color: cornsilk;
    box-shadow: 0 10px 20px #ccc;
    border-radius: 10px;
    padding: 20px
}
.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}
.card-title {
    text-align: center;
    color: darkblue;
}
.card-text {
    font-size: 14px;
}
.card-subtitle {
    font-size: 18px;
    color: darkgreen;
}
.card-list {
    padding-left: 0;
    list-style-position: inside;
    font-size: 14px;
    
}